@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

div,
nav,
section,
span,
ul,
li,
a,
header,
footer {
  box-sizing: border-box;
}

header,
footer {
  width: 100%;
  height: 130px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header p,
footer p {
  width: 114px;
  height: 45px;
  display: block;
  margin-left: 165.79px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;

  /* 13183F */

  color: #13183f;
}

header button,
footer button {
  width: 167px;
  height: 56px;
  margin-right: 165px;
  background: #13183f;
  border-radius: 28px;

  cursor: pointer;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  text-align: center;

  /* FFFFFF */

  color: #ffffff;
}

header button:hover {
  background: #666ca3;
}

footer button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

/* first_page */ /* first_page */
/* first_page */ /* first_page */
/* first_page */ /* first_page */
/* first_page */ /* first_page */
/* first_page */ /* first_page */
/* first_page */ /* first_page */

.first_page {
  width: 100%;
  height: 778.9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first_page_text {
  width: 457px;
  height: 359px;
  margin-left: 165px;
}

.first_page_text h1 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;

  /* 13183F */

  color: #13183f;
}
.first_page_text p {
  display: block;
  width: 445px;
  height: 84px;
  margin-top: 29px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  /* 83869A */

  color: #83869a;
}
.first_page_text button {
  margin-top: 40px;
  width: 167px;
  height: 63px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;

  cursor: pointer;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  /* FFFFFF */

  color: #ffffff;
}

.first_page_text button:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.first_page_img {
  position: absolute;
  width: 781px;
  height: 936.92px;
  left: 932px;
  top: -96.13px;
  z-index: -1;
  overflow: hidden;
}

/* second_page */ /* second_page */
/* second_page */ /* second_page */
/* second_page */ /* second_page */
/* second_page */ /* second_page */
/* second_page */ /* second_page */
/* second_page */ /* second_page */

.second_page {
  width: 100%;
  height: 778.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 165px;
  padding-left: 165px;
  padding-bottom: 140px;

  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

.flex-container {
  width: 1110px;
  height: 748px;

  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-item {
  width: 350px;
  height: 322px;
}

.item-1 {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 15px;
  padding: 64px 32px 138px 32px;
}

.item-1 p {
  display: block;
  width: 286px;
  height: 120px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  /* FFFFFF */

  color: #ffffff;
}

/* items - - - - - 2 */

.item-x {
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
  width: 350px;
  height: 322px;
}
.item-x img {
  width: 56px;
  height: 56px;
  margin-left: 32px;
  margin-top: -25px;
}

.item-x-inner {
  width: 286px;
  height: 218px;
  margin: 32px 32px 40px 32px;
  position: relative;
}

.item-x-inner h3 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;

  /* 13183F */

  color: #13183f;
}

.item-x-inner p {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  /* 83869A */

  color: #83869a;
}

.item-x-inner a {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  /* F74780 */

  color: #f74780;
  text-decoration: none;
  position: absolute;
  bottom: 0;
}

.item-x-inner a:hover {
  color: #ffa7c3;
}

footer {
  background-color: #13183f;
}

footer p {
  color: #ffffff;
}
footer button {
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  border-radius: 28px;
}
