@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

div,
nav,
section,
span,
ul,
li,
a,
header,
footer {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 130px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header p {
  width: 114px;
  height: 45px;
  display: block;
  margin-left: 165.79px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;

  /* 13183F */

  color: #13183f;
}

header button {
  width: 167px;
  height: 56px;
  margin-right: 165px;
  background: #13183f;
  border-radius: 28px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  text-align: center;

  /* FFFFFF */

  color: #ffffff;
}

.first_page {
  width: 100%;
  height: 778.9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first_page_text {
  width: 457px;
  height: 359px;
  margin-left: 165px;
}

.first_page_text h1 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;

  /* 13183F */

  color: #13183f;
}
.first_page_text p {
  display: block;
  width: 445px;
  height: 84px;
  margin-top: 29px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  /* 83869A */

  color: #83869a;
}
.first_page_text button {
  margin-top: 40px;
  width: 167px;
  height: 63px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;

  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  /* FFFFFF */

  color: #ffffff;
}

.first_page_img {
  position: absolute;
  width: 796px;
  height: 936.92px;
  left: 932px;
  top: -96.13px;
  z-index: -1;
  overflow: hidden;
}

/* second_page */ /* second_page */
/* second_page */ /* second_page */
/* second_page */ /* second_page */
/* second_page */ /* second_page */
/* second_page */ /* second_page */
/* second_page */ /* second_page */

/* .second_page {
  width: 100%;
  height: 778.9px;
} */
